//::ng-deep .mat-toolbar {
   // background: #f86161;
// color: rgba(0,0,0,.87);}


.custom-toolbar {
    background-color:#f7f8fc;
    //font-family:'Courier New', Courier, monospace;
    font-size:xx-large;
    //font-weight: bolder;
}
.planning{
   font-size:medium; 

}