<div class="container">
     
<mat-toolbar>
    <span>Stations</span>
    <span class="fill-remaining-space"></span>
    <button mat-dialog-close class="btn-dialog-close" mat-strocked-button  tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>


<div class="test">
<div class="row">
    <div class="col-md-6 offset-md-3">
   <div class="input-group">
    <input type="text" class="form-control" #itemTitle>
    <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
        <!--<i class="fa fa-plus-circle fa-2x"></i>-->
        <div class="add-button">
        <span class="material-icons md-30">control_point</span>
        </div>
    </div>
   </div>
   <div style="margin:5px 0px">
    <ul class="list-group">
        <ng-container *ngIf="dummyStations">
 
            <li class="list-group-item" *ngFor="let item of dummyStations">
                
                    {{item.station}}
                    <span class="hover-cursor text-danger pull-right" (click)="onDelete(item)">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </span>
            
            </li>

        </ng-container>

    </ul>
    </div>

        </div>
    </div>

</div>
</div> 




