.hover-cursor{
    cursor: pointer;
}


.input-group-addon {
    margin-left: 10px;
}
.text{
    font-size:x-large;
    margin-top: -35px;
}
.close-button{
    margin-left: 93%;
}
.add-button{
   // display: inline-flex !important ;
  // background-color: blue;
   margin-top: 3px;
   margin-right: 10px;
   
}
.material-icons.md-30 {
    font-size: 30px;
}
.test{
    margin-top: 30px;
   
}