<div class="liste">
    <div class="search-div">
        <button mat-raised-button (click)="onCreate()" class="button-create">
            <mat-icon>add</mat-icon> Ajouter
        </button>
        
        <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchkey" placeholder="Chercher" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchkey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
    </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8" >
        <mat-table [dataSource]="listData" class="table">
            <!-- -->
            <ng-container matColumnDef="villedepart">
                <mat-header-cell *matHeaderCellDef>Ville départ</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.villedepart}}</mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="nombrestation">
                <mat-header-cell *matHeaderCellDef>Nombre des stations</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombrestation}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="villearrivee">
                <mat-header-cell *matHeaderCellDef>Ville d'arrivée</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.villearrivee}}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                   
                   
                  <button (click)="openStations(row)"  class="buttonStation" color="primary" > Les stations</button> 
                    <button mat-icon-button color="primary" (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="onDelete(row.key)"><mat-icon>delete_outline</mat-icon></button>
                     
                </mat-cell>
            </ng-container>
                <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        </mat-table>
    </div>
    </div>
