<mat-toolbar class="custom-toolbar">
        <span>Horaires et tarifs</span>
        <span class="fill-remaining-space"></span>
</mat-toolbar>
 
<div class="container">
<div class="liste">
    <div class="search-div1">
        <mat-form-field class="search-form-field" floatLabel="never">
           <input matInput [(ngModel)]="searchkey" placeholder="Chercher" autocomplete="off" (keyup)="applyFilter()">
           <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchkey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
           </button> 
         </mat-form-field>
        
                 <mat-form-field>
            <input  matInput [matDatepicker]="picker" placeholder="Date" (dateInput)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
         
     
        <button mat-raised-button (click)="onSearch()" class="button-create">
            <span class="material-icons" >
                manage_search
                </span> Chercher
        </button>

    </div>
    <div class="mat-elevation-z8" >
        <mat-table [dataSource]="listData" class="table">
            <!-- <ng-container matColumnDef="ligneParent">
                <mat-header-cell *matHeaderCellDef>Parent Ligne</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.voyageParent}}</mat-cell>
            </ng-container> -->
           
            <!--   -->
          <ng-container matColumnDef="ligne">
                <mat-header-cell *matHeaderCellDef>Ligne</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.ligne}}</mat-cell>
            </ng-container> 
            <ng-container matColumnDef="dateVoyage">
                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.dateVoyage | date: 'yyyy-MM-dd'}}</mat-cell>
            </ng-container>
            <!--  <ng-container matColumnDef="stationdepart">
                <mat-header-cell *matHeaderCellDef>Station départ</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.stationdepart}}</mat-cell>
            </ng-container>  -->
           
            <ng-container matColumnDef="heuredepart">
                <mat-header-cell *matHeaderCellDef>Heure départ</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.heuredepart}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="stationarrivee">
                <mat-header-cell *matHeaderCellDef>Station arrivée</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.stationarrivee}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="heurearrivee">
                <mat-header-cell *matHeaderCellDef>Heure arrivée</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.heurearrivee}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="matriculebus">
                <mat-header-cell *matHeaderCellDef>Matricule bus</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.matriculebus}}</mat-cell>
            </ng-container>
            <!--  -->
            <ng-container matColumnDef="tarifs">
                <mat-header-cell *matHeaderCellDef>Tarifs</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tarifs}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreplacedisponible">
                <mat-header-cell *matHeaderCellDef>Nombre Des places disponibles</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreplacedisponible}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreplacereservee">
                <mat-header-cell *matHeaderCellDef>Nombre des places reservées</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreplacereservee}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                 
                   <!--    <button mat-icon-button  color="primary" (click)="bookTicket(row)" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon>bookmark_add</mat-icon>
                    </button> -->
             
                    <!--       <buttonn mat-raised-button (click)="openTicket(row)" class="button">
                        <mat-icon>bookmark_add</mat-icon>
                    </button>  -->
                   

                    <button mat-icon-button  color="primary" (click)="openTicket(row)" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon>bookmark_add</mat-icon>
                    </button> 
<!--                    <button (click)="getTickets(row)"  class="buttonStation" color="primary" > Tickets </button> 
 -->
 <button (click)="getTickets(row)" class="buttonStation" color="primary" > Les tickets</button>
                    <!--<button mat-icon-button  color="primary"  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        Tickets 
                    </button>      -->  
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        </mat-table>
    </div>     
</div>
</div>       

 
 <!-- <div class="container">
    <button mat-raised-button routerLink="/home/ticket" class="button">
    <mat-icon>bookmark_add</mat-icon> Ticket
    </button> 
 </div>   -->